.animated{
  -webkit-animation-duration: 0.6s !important;
  animation-duration: 0.6s !important;
}

html, body{
    height: 100%;
}
ul.side-nav.fixed li.logo {
   text-align: center;
  /* margin-top: 32px; */
  /* margin-bottom: 80px; */
  height: 172px;
  padding: 23px;
  /*background: url(micro.jpg);*/
}
#nav-mobile li.search {
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  margin-top: 1px;
  padding: 1px 0 0 0;
  z-index: 2;
}
nav{
    background-color: #00695c; 
}
#nav-mobile li.search .search-wrapper {
  margin: 0 12px;
  transition: margin .25s ease;
}

main{
    padding-left: 300px;
}
.logo{
    padding-top: 52px!important;
}
.logo h3{
  font-weight: bold;
  font-style: oblique;
  font-family: cursive;
  color: #525252;
  font-size: 45px;

}
@media only screen and (max-width: 992px){ 
    main{
    padding-left: 0px;
}
}
/*
.brand-logo{
    margin-left: 15px; 
}
#body{
    padding: 0px !important;
}


#app{ 
    display: flex;
    align-items: stretch;
    flex-direction: row;
    
}*/




/*.example-list{
    width: 300px;
}
main{
    display: flex !important; 
    flex-direction: row;
}
#nav{
    width: 250px;
    padding: 10px;
}
#app{
    width: 100%;
    display: flex;
}
#nav ul{
    margin-top: 0px;
    padding-top: 0px;
}
.mdl-list__item{
    cursor: pointer;
    padding: 0px;
    color: #7f8c8d;
}*/
.section, .section2, .section3{
    height: 100%;
    color: #fff;
    width: 100%;
    text-align: center;
    align-items: stretch;
    background-color: #4DB6AC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2{
    background-color: #FF8A65;
}

.section3{
    background-color: #4DD0E1;
}